@import "tailwindcss";
@config "../tailwind.config.js";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "GeneralSans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --breakpoint-xs: 24.375rem;
  --color-abe400: #abe400
}

@layer utility {
  *:focus {
    outline-color: var(--color-abe400); /* Use the custom color */
  }
  .prose {
    --tw-prose-body: oklch(0.34 0 0);
    --tw-prose-headings: oklch(0.34 0 0);
  }
  .prose ul {
    padding-left: calc(var(--spacing) * 4);
  }
  .prose li {
    margin-top: calc(var(--spacing) * 0.5);
    margin-bottom: calc(var(--spacing) * 0.5);
    padding-left: 0px;
  }
}